.vscode/
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
test_gprof
gmon.out
perf.data
perf.data.old
.env

*.o
*.so

build/
.mimodulo
mimodulo.ko
mimodulo.mod
mimodulo.mod.c
Module.symvers
modules.order
.modules.order.cmd
.Module.symvers.cmd
.mimodulo.*
..*

paquete